<a href="https://colab.research.google.com/github/Arun-ML/intermediate-python-course/blob/master/1_ITP_Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
bool(-10)

True

#Day 1 Notes

Agenda: Pseudocodes, Python Data Types, Type Conversions,Python operators and bitwise operators

## Data types and conversions

1. int, float, string, boolean, as per the assignment of values
'50' would be a string, whereas 50 shall be an int
True would be Boolean
2.Implicit conversion - say int+float = float
3.Explicit conversion - say int(143.5)= 143, float(),complex(x) and complex(x,y)

##Python Operators

1. Operators-  +,-,*,/,//, %
2. Addition of strings leads to concatenation
3. Cant subtract 2 strings
4. Multiplying string with number, data gets repeated
5. Operator // returns a integer quotient
6. % Modulus is used for remainder
7. ** is used for power
8. input() function - getting data in runtime is by default string and not int
9. relational operators (>, <, ==,!=) - output shall be boolean
10. logical operators (AND, OR, NOT)

In [20]:
a=5//2
c=6^4
#bitwise operators
b1=10;b2=7;x=b1&b2;y=b1|b2
x,y,~b1,b1<<1,b1>>1

(2, 15, -11, 20, 5)

##Other Syntax

1. Assignment Operation - a+=b is same as a=a+b
2. Concatenation of list can be join(['AK','is','gr8'])
3. Print syntax - type cast in printing %d for int, %f for float, %0.3f to specify say 3 digits, printing with delimiter
print(1,10,100,1000,sep='->')
4. len()
5. String handling
a="things are Gr8",,  a.upper(), a.lower(), a.replace('things, 'We'), a.title()

In [21]:
print(1,10,100,1000,sep='->')

1->10->100->1000

In [22]:
a="things are Gr8"
a.upper(),a.lower(),a.title()

('THINGS ARE GR8', 'things are gr8', 'Things Are Gr8')

In [24]:
a[:5],a[::-1],a[::1]

('thing', '8rG era sgniht', 'things are Gr8')

# New Section

a[start:stop:step]